@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --bright-orange: 31deg 77% 52%;
        --dark-cyan: 184deg 100% 22%;
        --very-dark-cyan: 179deg 100% 13%;
    }
}